body {
    background-color: #c5f3dd;
    font-family: Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.profile {
    padding: 10px;
    padding-top: 20px;
}

#campre {
    display: flex;
    justify-content: center;
}

#cameraFeed {
    width: 400px;
    height: 300px;
}

.location {
    display: flex;
    flex-direction: row;
}
.space-location {
    margin-left: 10px;
}