body {
    background-color: #d9f1e6;
    font-family: Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.profile {
    padding: 10px;
    padding-top: 20px;
}

#campre {
    display: flex;
    justify-content: center;
}